/ExemploCollections/target/
/persistenciaemarquivos/target/
/PersistenciaEmArquivoseBD/target/
/TransationDB/target/
/ClasseInterna/mavenproject1/target/
/InterfaceFuncionais/target/
/StreamJava/target/
/Optimal/target/
